# Database files
mobileOG*
card-data*/

# Large data files
Data/
data_fastq/
storeDir/

# Large container files, reproducible from the .def-file
*.sif

# Pipeline 1, need to hide?
Pipeline_1/

# Log files
logs/

# Some of mumame output, all except *table.txt and *per-mutation.txt
*.0.95.list.txt
*.0.95.list.txt.count
*.0.95.mapping.txt
*.0.95.usearch